# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /rhi-diesel/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /rhi-diesel/index.php [L]
</IfModule>
# END WordPress
